@import "colors";
@import "variables";
@import "border";
@import "../ui/components/window";

wf-resource-editor-window {
	@extend wf-window;
	width: 304px;
	min-height: 304px;

	> .content {
		min-height: 302px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.fullsize {
		width: auto;
		min-height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		> wf-window-titlebar > wf-menubar {
			margin-left: 0;
			margin-right: 0;
		}

		.content {
			min-height: auto;
		}
	}
}
