@import "border.scss";
@import "sizing.scss";
@import "colors.scss";

wf-save-game-editor-ammo {
	@include inset-border(1px);
	position: relative;
	display: inline-block;
	height: 12px;

	&,
	div {
		cursor: pointer;
	}

	div {
		@include fullsize(0);
		position: absolute;
		background-color: $indicator-color;
	}

	&[vertical] {
		width: 12px;
		height: unset;

		div {
			top: auto;
		}
	}
}
