@import "animation.scss";
@import "border.scss";
@import "variables.scss";
@import "selection.scss";
@import "../../ui/settings-window.scss";
@import "../../../ui/components/abstract-window";
@import "aspect-ratio.scss";

wf-help-viewer {
	@extend wf-abstract-window;

	width: 500px;
	helpdeco-title {
		display: none;
	}
	.content {
		flex-direction: column;
		.action-bar {
			display: flex;
			flex-direction: row;
			wf-button {
				width: 104px;
			}
			margin-bottom: 5px;
		}

		.help-contents {
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			justify-content: center;

			wf-progress-indicator {
				margin: 60px;
			}

			helpdeco-document {
				@include inset-border(1px);
				@include selectable;
				background: white;
				max-height: 550px;
				overflow-y: auto;
				min-width: 100%;
			}
		}
	}
}
