'.platform-darwin atom-text-editor':
    'cmd-r': 'webfun:run'
    'cmd-b': 'webfun:build'
    'cmd-u': 'webfun:test'

'atom-text-editor':
    'cmd-r': 'webfun:run'
    'cmd-b': 'webfun:build'
    'cmd-u': 'webfun:test'
