@import "variables.scss";
@import "border.scss";
@import "../ui/settings-window.scss";
@import "../../ui/components/abstract-window";
@import "aspect-ratio.scss";

wf-fullscreen-main-window {
	@extend wf-abstract-window;

	position: fixed;
	top: 0 !important;
	left: 0 !important;
	width: 100vw;
	height: 100vh;
	box-shadow: none;
	border-radius: 0;

	overflow: hidden;
	z-index: 0;

	> wf-window-titlebar {
		display: none;
	}

	> .content {
		height: calc(100vh - 3px);

		> .main {
			@include inset-border(2px);
			@include aspect-ratio(1/1);
		}

		> wf-inventory {
			z-index: 1;
			transform: translate(0, 100%);
			transition: transform 0.2s ease-out;

			&.slide-up {
				transform: translate(0, 0%);
			}
		}

		> .status {
			@include inset-border(1px);
			border-left: 0;
			border-right: 0;

			display: flex;
			align-items: center;
			justify-content: space-around;
			height: 75px;
			> .equipment {
				$indicator-color: #0091ea;

				height: $tile-size + 2 * $border-size;

				> * {
					height: $tile-size + 2 * $border-size;
					display: inline-block;
					position: relative;
				}

				wf-ammo + wf-weapon {
					margin-left: 2px;
				}
			}
		}

		> .actions {
			align-items: center;
			justify-content: stretch;
			display: flex;
			min-height: 34px;

			> wf-button {
				padding: 2px;
				font-size: 0.9em;
				flex-grow: 1;
				margin: 5px;
			}
		}

		height: calc(100vh - 3px);
		overflow: hidden;
		padding: 0px;
		position: relative;

		display: flex;

		> wf-inventory {
			width: 100%;
			height: unset;
			max-height: unset;
			min-height: unset;
			flex-grow: 1;
			flex-shrink: 1;
			margin-top: 10px;

			position: absolute;
			bottom: 0px;
		}

		.controls {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 10px;

			wf-onscreen-button + wf-onscreen-button {
				margin-left: 15px;
			}
		}
	}

	@media (orientation: portrait) {
		> .content {
			flex-direction: column;
		}
	}

	@media (orientation: landscape) {
		> .content {
			display: grid;
			grid-template-columns: 1fr calc(100vh - 3px) 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-column-gap: 0;
			grid-row-gap: 0;
			grid-template-areas:
				"empty main inventory"
				"empty main inventory"
				"ctrl-left main ctrl-right";

			> .main {
				grid-area: main;
			}

			> .actions {
				grid-area: inventory;
			}

			> .status {
				grid-area: inventory;
			}

			> .controls {
				display: contents;

				> wf-onscreen-pad {
					grid-area: ctrl-left;
					margin-left: env(safe-area-inset-left);
				}
			}

			.buttons {
				grid-area: ctrl-right;
			}

			> :not(.main) {
				overflow: hidden;
			}
		}
	}
}
