@import "variables.scss";
@import "border.scss";
@import "../ui/settings-window.scss";
@import "../../ui/components/abstract-window";
@import "aspect-ratio.scss";

wf-main-window {
	@extend wf-abstract-window;

	.equipment {
		display: flex;
		flex-direction: row;

		wf-ammo + wf-weapon {
			margin-left: 2px;
		}
	}

	.content {
		display: grid;
		overflow: hidden;
	}

	.main {
		@include inset-border(2px);
		grid-area: main;
	}

	.status {
		display: flex;
		align-items: center;
		justify-content: space-around;
		grid-area: status;
	}

	.actions {
		align-items: center;
		justify-content: stretch;
		display: flex;
		min-height: 34px;

		> wf-button {
			padding: 2px;
			font-size: 0.9em;
			flex-grow: 1;
			margin: 5px;
		}
	}

	.controls {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		grid-area: controls;

		wf-onscreen-button + wf-onscreen-button {
			margin-left: 15px;
		}
	}

	> wf-inventory {
		grid-area: inventory;
	}

	/**************************************************************************************************************/
	/**                                                  DESKTOP                                                 **/
	/**************************************************************************************************************/
	&:not(.mobile) {
		> wf-window-titlebar > wf-menubar {
			margin-left: 0px;
		}
		> .content {
			grid-column-gap: 14px;
			grid-row-gap: 14px;
			grid-template-columns: 288px + 2 * 2px 206px;
			grid-template-rows: 228px 64px - 14px;
			grid-template-areas:
				"main inventory"
				"main status";

			> .buttons,
			> .controls,
			> .actions {
				display: none;
			}
		}
	}
	/**************************************************************************************************************/
	/**                                                  Mobile                                                  **/
	/**************************************************************************************************************/
	&.mobile {
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		width: 100vw;
		height: 100vh;
		box-shadow: none;
		border-radius: 0;

		> wf-window-titlebar {
			display: none;
		}

		> .content {
			padding: 0;
			height: calc(100vh - 3px);
		}

		.status {
			@include inset-border(1px);
			border-left: 0;
			border-right: 0;
			border-top: 0px;
			padding: 10px;
			padding-top: 0px;
		}

		/**********************************************************************************************/
		/**                                         Portrait                                         **/
		/**********************************************************************************************/
		@media (orientation: portrait) {
			> .content {
				> .main {
					border-left: none;
					border-right: none;
					border-top: none;
				}

				grid-template-columns: 100%;
				grid-template-rows: min-content min-content min-content 1fr;

				grid-template-areas:
					"main"
					"actions"
					"status"
					"controls";
			}

			.controls {
				position: absolute;
			}

			wf-inventory {
				min-height: unset;
				height: unset;
				max-height: unset;
				width: 100%;
				z-index: 1;

				transform: translate(0, 100%);
				transition: transform 0.2s ease-out;

				grid-area: controls;
				&.slide-up {
					transform: translate(0, 0%);
				}
			}
		}
		/**********************************************************************************************/
		/**                                        Landscape                                         **/
		/**********************************************************************************************/
		@media (orientation: landscape) {
			> .content {
				grid-template-columns: 1fr calc(100vh - 3px) 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-column-gap: 0;
				grid-row-gap: 0;
				grid-template-areas:
					"empty main inventory"
					"empty main inventory"
					"ctrl-left main ctrl-right";

				> .main {
					grid-area: main;
				}

				> .actions {
					grid-area: inventory;
				}

				> .status {
					grid-area: inventory;
				}

				> .controls {
					display: contents;

					> wf-onscreen-pad {
						grid-area: ctrl-left;
						margin-left: env(safe-area-inset-left);
					}
				}

				.buttons {
					grid-area: ctrl-right;
				}

				> :not(.main) {
					overflow: hidden;
				}
			}
		}
	}
}
