@import "variables.scss";
@import "border.scss";
@import "../ui/settings-window.scss";
@import "../../ui/components/abstract-window";
@import "aspect-ratio.scss";

wf-main-window {
	@extend wf-abstract-window;

	> wf-window-titlebar {
		padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
		> wf-menubar {
			margin-left: 0px;
		}
	}

	> .content {
		display: grid;
		grid-column-gap: 14px;
		grid-row-gap: 14px;
		grid-template-columns: 288px + 2 * 2px 206px;
		grid-template-rows: 228px 64px - 14px;
		grid-template-areas:
			"main inventory"
			"main status";

		> .main {
			@include inset-border(2px);

			position: relative;
			grid-area: main;
		}

		> wf-inventory {
			grid-area: inventory;
		}

		> .status {
			display: flex;
			align-items: center;
			justify-content: space-around;
			grid-area: status;

			> .equipment {
				$indicator-color: #0091ea;

				height: $tile-size + 2 * $border-size;

				> * {
					height: $tile-size + 2 * $border-size;
					display: inline-block;
					position: relative;
				}

				wf-ammo + wf-weapon {
					margin-left: 2px;
				}
			}
		}

		> .buttons {
			grid-area: buttons;
			display: none;
			justify-content: center;
		}

		wf-onscreen-pad {
			grid-area: pad;
			margin-left: env();
			display: none;
		}
	}
}
