@import "variables.scss";
@import "border.scss";
@import "../ui/settings-window.scss";
@import "../../ui/components/abstract-window";

wf-main-window {
	@extend wf-abstract-window;

	> .content {
		display: grid;
		grid-column-gap: 14px;
		grid-row-gap: 14px;
		grid-template-columns: 288px + 2 * 2px 206px;
		grid-template-rows: 228px 64px - 14px;
		grid-template-areas:
			"main inventory"
			"main equipment";
	}

	> .content > .main {
		@include inset-border(2px);

		position: relative;
		grid-area: main;
	}

	wf-inventory {
		grid-area: inventory;
	}

	.status {
		grid-area: status;
		display: flex;
		grid-column: 2;
		grid-row: 2;
		align-items: center;
		justify-content: space-around;
	}

	.equipment {
		$indicator-color: #0091ea;

		height: $tile-size + 2 * $border-size;

		> * {
			height: $tile-size + 2 * $border-size;
			display: inline-block;
			position: relative;
		}

		wf-ammo + wf-weapon {
			margin-left: 2px;
		}
	}
}
