.idea/
.scannerwork
.sonarlint
.tm_properties
.vscode/
.yarnclean
*.key
*.pem
/stats.json
assets/game-data
assets/game-data/full.txt
assets/save-games/construct.wld
assets/ingame-coverage.json
bin
build
config/deploy.sh
config/nginx.conf
config/.babel
config/.hard-source
config/.typescript
dist
game-data/*
game-data/tiles
game-data/zones
indy-demo.data
indy.data
indy.pal
node_modules
sfx_yoda
sfx-indy
sfx-yoda
test/reports
test/screenshots
todo.md
yarn-error.log
yoda-demo.data
yoda.data
yoda.pal
docs/assets
docs/WebFun.md

docs/images (src)/
docs/src (old)/
