dist
node_modules
.tm_properties
game-data/tiles
game-data/zones
yoda.data
yoda-demo.data
indy.data
indy-demo.data
sfx_yoda
sfx-yoda
sfx-indy
yoda.pal
indy.pal
.yarnclean
yarn-error.log
/stats.json
.idea/
config/.typescript
config/.hard-source
config/.babel
tools/*.bin.js
test/screenshots
build
game-data/*
bin
assets/game-data/full.txt
todo.md
.scannerwork
test/reports
.vscode/
