@import "border.scss";

wf-debug-action {
	@include inset-border-inverted(1px);
	white-space: pre;

	padding: 5px;
	font-family: "Anonymous Pro", monospace;
	font-size: 12px;
	min-width: 302px;
	line-height: 14px;

	> .container {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	&[current] > .head {
		font-weight: bold;
	}

	&.active {
		font-weight: bold;
	}
	.expand {
		position: absolute;
		right: 5px;
		top: 0px;
		transition: transform 0.2s;
	}

	&.expanded .expand {
		transform: rotate(90deg);
	}

	wf-debug-condition,
	wf-debug-instruction {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		line-height: 14px;

		&[current] {
			font-weight: bold;
		}

		&[truthy] .paren-open,
		&[truthy] .paren-close {
			color: darkgreen;
		}

		wf-debug-breakpoint-button {
			float: right;
			margin-top: 0px;
			margin-right: 0px;
			transform: translateY(2px);
		}
		&:not(:hover) wf-debug-breakpoint-button:not([active]) {
			display: none;
		}

		.argument {
			margin-left: 5px;
		}
	}

	.paren-close {
		opacity: 0.8;
	}

	.command {
		color: #07216c;
	}

	.key {
		color: #660e7a;
	}

	.head {
		font-size: 11px;
		float: right;
		margin-bottom: 4px;
		display: block;

		> wf-debug-breakpoint-button {
			zoom: 0.8;
			margin-top: 0px;
			margin-right: 0px;
			margin-left: 4px;
		}

		&:not(:hover) > wf-debug-breakpoint-button:not([active]) {
			float: right;
			display: none;
		}
	}
}
