@import "border";

wf-debug-action {
	@extend .inset-border-inverted;
	white-space: pre;
	tab-size: 3;

	border-width: 1px;
	padding: 5px;
	font-family: "Anonymous Pro", monospace;
	font-size: 12px;

	> .container {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	&[current] > .container {
		font-weight: bold;
	}

	&.active {
		font-weight: bold;
	}

	.expand {
		position: absolute;
		right: 5px;
		top: 0px;
		transition: transform 0.2s;
	}

	&.expanded .expand {
		transform: rotate(90deg);
	}

	wf-debug-condition, wf-debug-instruction {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;

		&[current] {
			font-weight: bold;
		}

		&[truthy] .paren-open {
			color: darkgreen;
		}
	}

	.paren-close {
		opacity: 0.8;
	}

	.command {
		color: #07216C;
	}

	.key {
		color: #660E7A;
	}

	.head {
		font-size: 11px;
		float: right;
		margin-bottom: 4px;
		display: block;
	}
}
