@import "border";

wf-debug-simulator-wizard {
	height: 250px;
	display: flex;
	flex-direction: row;
	width: 418px;

	wf-list {
		display: inline-block;
		@extend .inset-border-1px;

		> div {
			max-height: calc(100% - 2px);
		}

		&:first-child {
			width: 270px;
		}

		&:not(:first-child) {
			width: 36px;
		}
	}

	wf-zone-inspector-cell i.fa-search {
		display: none;
	}
}
