@import "variables.scss";

wf-debug-zone-picker {
	display: block;

	wf-list > div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
