@import "pixelated.scss";
@import "border.scss";

wf-abstract-palette-view {
	display: block;
	@include inset-border(1px);

	position: relative;

	> canvas {
		@extend .pixelated;
		width: 100%;
		height: 100%;
	}
}
