@import "sizing.scss";
@import "pixelated.scss";
@import "aspect-ratio.scss";
@import "selection.scss";

wf-error-view {
	@include aspect-ratio(1);
	background-color: #000;

	display: block;
	flex-direction: column;
	text-align: center;
	justify-content: center;

	> div {
		@include selectable;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1,
		h2 {
			margin: 0;
			padding: 0;
			font-weight: normal;
		}

		h1 {
			color: #555;
			font-size: 3em;
			margin-bottom: 0.5em;
			text-transform: uppercase;
		}

		h2 {
			color: #ddd;
			font-size: 1em;
			padding-left: 1em;
			padding-right: 1em;
			text-shadow: 0px 1px rgb(80, 80, 80);
			padding-bottom: 2em;
		}

		div {
			color: #ddd;
			padding-left: 1em;
			padding-right: 1em;
			text-align: left;

			label {
				font-size: 0.8em;
			}
		}
	}
}
