@import "sizing.scss";
@import "pixelated.scss";
@import "aspect-ratio.scss";

wf-loading-view {
	display: block;
	@include fullsize();
	@include aspect-ratio(1/1);

	background-color: #000000;

	> wf-palette-view {
		border: none;
	}
}
