@import "src/ui/components/abstract-window.scss";

wf-settings-window {
	@extend wf-abstract-window;

	> .content {
		flex-direction: column;
		padding: 20px;

		wf-slider {
			margin-bottom: 10px;
		}

		> div {
			display: flex;

			&:last-child {
				margin-top: 20px;
			}

			wf-button + wf-button {
				margin-left: 10px;
			}
		}
	}
}
