[data-cursor="block"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/block.svg), default;
	}
}

[data-cursor="north"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/north.svg), default;
	}
}

[data-cursor="north-east"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/north-east.svg), default;
	}
}

[data-cursor="east"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/east.svg), default;
	}
}

[data-cursor="south-east"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/south-east.svg), default;
	}
}

[data-cursor="south"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/south.svg), default;
	}
}

[data-cursor="south-west"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/south-west.svg), default;
	}
}

[data-cursor="west"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/west.svg), default;
	}
}

[data-cursor="north-west"] {
	&,
	* {
		cursor: url(../../../../assets/cursors/north-west.svg), default;
	}
}
