[data-cursor="block"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/block.svg), default;
	}
}

[data-cursor="north"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/north.svg), default;
	}
}

[data-cursor="north-east"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/north-east.svg), default;
	}
}

[data-cursor="east"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/east.svg), default;
	}
}

[data-cursor="south-east"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/south-east.svg), default;
	}
}

[data-cursor="south"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/south.svg), default;
	}
}

[data-cursor="south-west"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/south-west.svg), default;
	}
}

[data-cursor="west"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/west.svg), default;
	}
}

[data-cursor="north-west"] {
	&,
	* {
		cursor: url(../../../../assets/cursor/north-west.svg), default;
	}
}
