@import "src/app/webfun/ui/palette-view.scss";

wf-editor-palette-color-picker {
	@extend wf-palette-view;

	> .highlighter {
		display: block;
		position: absolute;
		pointer-events: none;
		border: 1px solid rgba(190, 190, 190, 0.8);
		box-shadow: rgba(90, 90, 90, 0.8) 1px 1px 1px inset;
		width: #{192px / 16 + 2px};
		height: #{192px / 16 + 2px};
		transition: all 0.1s linear;
	}
}
