@import "border.scss";
@import "colors.scss";
@import "selection.scss";

$cell-height: 34px;

wf-puzzle-inspector-cell {
	display: block;

	& > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.title {
			line-height: $cell-height;
			margin-left: 5px;
			margin-right: 5px;
		}

		.dialogs {
			display: flex;
			flex-direction: column;
			width: 100%;

			.s {
				color: $border-dark;
				font-size: 0.5em;
				text-transform: uppercase;
				width: 44px;

				padding: 2px;
				padding-right: 5px;
				border-right: 1px solid $border-dark;
				margin-right: 5px;

				flex-grow: 0;
				flex-shrink: 0;

				text-align: right;
				display: flex;
				align-items: center;
			}

			wf-label {
				@include selectable;

				white-space: pre-wrap;
				min-height: 23px;
				flex-grow: 2;
			}

			.dialog {
				margin: 5px;
				display: flex;
				flex-direction: row;
				align-items: stretch;
			}
		}
	}

	& + & {
		margin-top: 15px;
	}
}
