@import "colors.scss";
@import "variables.scss";
@import "border.scss";
@import "../ui/components/window";

wf-save-game-editor-window {
	@extend wf-window;
	width: 304px;
	min-height: 304px;

	> .content {
		min-height: 302px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
