@import "../ui/components/window";

wf-save-game-editor {
	@extend wf-window;

	> .content {
		flex-direction: column;

		> .errors {
			color: red;
		}

		> .save {
			> div {
				label {
					width: 120px;
					text-align: right;
					margin-right: 10px;
					display: inline-block;
				}

				input,
				wf-save-game-editor-ammo {
					width: 80px;
					background-color: rgba(255,255,255,0.4);
				}
			}
		}
	}
}
