@import "colors";
@import "variables";
@import "border";
@import "../ui/components/window";

wf-save-game-editor {
	@extend wf-window;

	> .content {
		flex-direction: column;

		> .errors {
			color: red;
		}

		> .save {
			> div {
				width: 100%;
				display: flex;
				align-items: center;
			}

			> .weapon-and-helath {
				justify-content: center;

				.equipment {
					height: $tile-size + 2 * $border-size;

					> * {
						height: $tile-size + 2 * $border-size;
						display: inline-block;
						position: relative;
					}

					wf-ammo + wf-weapon {
						margin-left: 2px;
					}
				}

				.equipment + wf-health {
					margin-left: 20px;
				}
			}

			.ammo {
				justify-content: center;
				margin-top: 5px;

				.tile {
					$border-size: 1px;
					@include inset-border($border-size);
					height: $tile-size + 2 * $border-size;
					width: $tile-size + 2 * $border-size;
				}

				.tile + wf-save-game-editor-ammo {
					margin-left: 10px;
				}

				wf-save-game-editor-ammo {
					width: 80px;
					background-color: rgba(255, 255, 255, 0.4);
				}
			}

			> div {
				label {
					width: 120px;
					text-align: right;
					margin-right: 10px;
					display: inline-block;
				}

				input {
					width: 80px;
					background-color: rgba(255,255,255,0.4);
				}
			}
		}
	}
}
