@import "border";

wf-window.script-debugger-window {
	z-index: 1001;

	.content {
		flex-direction: column;
	}

	wf-debug-controls {
		padding-bottom: 8px;
	}

	.action-list {
		@include inset-border(2px);

		display: flex;
		flex-direction: column;
		max-height: 500px;
		overflow-y: auto;

		.action {
			&.current {
				font-weight: bold;
			}

			.condition {
				&.current {
					font-weight: bold;
				}
			}

			.instruction {
				&.current {
					font-weight: bold;
				}
			}
		}
	}
}
