.weapon-view {
  @extend .inset-border;

  border-width: 2px;
  width: $tile-size + 2 * $border-size;

  > .background {
    @extend .full-size;

    @extend .inset-border-inverted;

    position: absolute;
    border-width: 1px;
    margin: 0;
  }

  > img {
    @extend .full-size;

    position: absolute;
    width: $tile-size;
    height: $tile-size;
  }
}
