@import "colors.scss";
@import "./abstract-menu-view.scss";

wf-abstract-menu-window {
	@extend wf-abstract-menu-view;

	position: absolute;
	display: inline-block;
	background: rgba(202, 198, 188, 0.98);
	border-width: 1px;
	padding: 1px;
	min-width: 50px;
	box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
	white-space: nowrap;

	> wf-menu-item {
		padding: 3px 10px 3px 6px;
	}

	> wf-menu-item:not([disabled]):hover {
		color: $menu-item-selection-text;
		background-color: $menu-item-selection-background;
	}
}
