@import "colors.scss";
@import "border.scss";
@import "sizing.scss";
@import "./abstract-icon-button.scss";

wf-button {
	display: block;
	border: 1px solid black;
	position: relative;
	min-height: 16px;
	min-width: 16px;
	text-align: center;
	color: $control-text-color;
	background-color: $window-background-color;
	touch-action: none;
	overflow-x: hidden;

	> * {
		pointer-events: none;
	}

	> div {
		@include inset-border-inverted(1px);
		@include fullsize();
		position: absolute;
	}

	&[disabled] {
		color: $disabled-color;
	}

	&:not([disabled]) i {
		text-shadow: 1px 1px #828282;
	}

	&:active:not([disabled]),
	&[active]:not([disabled]) {
		> div {
			@include inset-border(1px);
		}

		i {
			text-shadow: none;
		}
	}

	&.icon {
		line-height: 16px;
	}

	& + wf-button {
		// margin-top: 2px;
	}

	> span {
		padding: 0 8px;
	}

	&[hidden] {
		display: none !important;
	}
}
