@import "./window";

wf-fullscreen-window {
	@extend wf-window;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border-top-left-radius: 0;
	border-top-right-radius: 0;

	> wf-window-titlebar > wf-menubar {
		margin-left: 0px;
		margin-right: 0px;
	}
}
