@import "border";

wf-icon-button {
	display: inline-block;

	i.fa {
		cursor: pointer;
		display: inline-block;
		padding: 3px;
		font-size: 12px;
	}

	&[disabled] {
		color: rgb(127, 127, 127);
	}

	&[bordered] {
		@include inset-border(1px);
	}
}
