@import "./abstract-menu-view";
@import "border.scss";

wf-menubar {
	@extend wf-abstract-menu-view;
	margin-left: 16px;
	margin-right: 16px;
	height: 22px;
	line-height: 22px;
	position: relative;
	top: 2px;
	display: block;
	pointer-events: none;
	border: 0;

	> wf-menu-item {
		display: inline-block;
		border-width: 0;
		padding: 1px 5px;
		margin-left: 1px;
		pointer-events: all;

		&:first-child {
			margin-left: 4px;
		}

		&[active],
		&[open] {
			@include inset-border(1px);
			cursor: default;
			padding: 0 4px;
		}

		.state,
		.submenu {
			display: none;
		}
	}
}
