@import "colors.scss";

wf-menu-item {
	border-width: 0px;
	cursor: default;
	display: flex;
	flex-direction: row;
	align-items: center;

	&[disabled] {
		color: $disabled-color;
	}

	.state {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 4px;
		flex-grow: 0;
	}

	.title {
		.mnemonic {
			text-decoration: underline;
		}

		flex-grow: 1;
	}

	&:not([disabled]):hover .state {
		filter: invert(1);
	}

	&[state="on"] .state {
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16" x="0" y="0"><path d="M13 .156l-1.406 1.438-5.594 5.594-1.594-1.594-1.406-1.438-2.844 2.844 1.438 1.406 3 3 1.406 1.438 1.406-1.438 7-7 1.438-1.406-2.844-2.844z"></path></svg>');
	}

	&[state="off"] .state {
		background-image: none;
	}

	&[state="mixed"] .state {
		//    background-image: url('mixed.svg');
	}

	.beta {
		flex-grow: 0;
		font-size: 0.7em;
		border: 1px solid $menu-separator-color-bottom;
		border-radius: 2px;
		padding: 1px 3px;
		color: $menu-separator-color-bottom;
		margin-left: 10px;
	}

	&:not([disabled]):hover .beta {
		filter: invert(1);
	}

	&[submenu] .submenu {
		flex-grow: 0;
	}
}
