@import "colors.scss";

wf-menu-item {
	border-width: 0px;
	cursor: default;
	display: flex;
	flex-direction: row;
	align-items: center;

	&[disabled] {
		color: $disabled-color;
	}

	.state {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 4px;
		flex-grow: 0;
	}

	.title {
		.mnemonic {
			text-decoration: underline;
		}

		flex-grow: 1;
	}

	&:not([disabled]):hover .state {
		filter: invert(1);
	}

	&[state="on"] .state {
		background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE2IDE2IiB4PSIwIiB5PSIwIj48cGF0aCBkPSJNMTMgLjE1NmwtMS40MDYgMS40MzgtNS41OTQgNS41OTQtMS41OTQtMS41OTQtMS40MDYtMS40MzgtMi44NDQgMi44NDQgMS40MzggMS40MDYgMyAzIDEuNDA2IDEuNDM4IDEuNDA2LTEuNDM4IDctNyAxLjQzOC0xLjQwNi0yLjg0NC0yLjg0NHoiPjwvcGF0aD48L3N2Zz4=');
	}

	&[state="off"] .state {
		background-image: none;
	}

	&[state="mixed"] .state {
		//    background-image: url('mixed.svg');
	}

	.beta {
		flex-grow: 0;
		font-size: 0.7em;
		border: 1px solid $menu-separator-color-bottom;
		border-radius: 2px;
		padding: 1px 3px;
		color: $menu-separator-color-bottom;
		margin-left: 10px;
	}

	&:not([disabled]):hover .beta {
		filter: invert(1);
	}

	&[submenu] .submenu {
		flex-grow: 0;
	}
}
