wf-selector {
	display: inline-block;
	position: relative;

	&[borderless] select {
		-webkit-appearance: none;
		border-radius: 0;
		border: 0;
		background: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		outline: none;

		font: inherit;
		color: inherit;
		text-shadow: inherit;
	}

	i.fa-caret-down {
		visibility: hidden;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		color: #222;
		pointer-events: none;
	}

	&[borderless]:hover i.fa-caret-down {
		// visibility: visible;
	}
}
