wf-selector {
	display: inline-block;
	position: relative;

	&[borderless] select {
		-webkit-appearance: none;
		border-radius: 0;
		border: 0;
		background: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		outline: none;
		position: absolute;
		left: 5;
		right: 5;
		font: normal normal normal normal 16px/32px -webkit-standard;
	}
}
