wf-speech-bubble {
	position: absolute;
	z-index: 1001;

	.text-container {
		position: absolute;
		overflow: hidden;
	}

	.text {
		white-space: pre-line;
		position: relative;
		font-family: var(--font-family);
		top: calc(var(--line-height, 0px) * -1 * var(--current-line, 0));
	}

	.singleline {
	}

	.controls {
		display: block;
		width: 16px;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.up,
	.down,
	.end {
		font-size: 14px;
		display: flex;

		justify-content: center;
		align-items: center;
	}

	.end {
		font-size: 9px;
	}
}
