wf-speech-bubble {
	position: absolute;
	z-index: 1001;

	.text-container {
		position: absolute;
	}

	.text {
	}

	.singleline {
	}

	.controls {
		display: block;
		width: 16px;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}

	.up, .down, .end {
		font-size: 14px;
		display: flex;

		justify-content: center;
		align-items: center;
	}

	.end {
		font-size: 9px;
	}
}
