@import "sizing.scss";

$titlebar-height: 27px;

wf-window-titlebar {
	display: block;
	right: 0px;
	width: auto;
	min-height: $titlebar-height;
	padding-bottom: 1px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 0px 0px #ffffff;
	line-height: $titlebar-height - 1px;
	white-space: nowrap;
	margin-bottom: 1px;

	> .close-button {
		float: left;
		margin-top: 2px;
		margin-left: 2px;
		margin-right: 2px;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJ0aW55IiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzAwMDAwMCIgZD0iTTUwLjAwMyw2MS4xNzZsMjAuNzE1LDIxLjIwNmMyLjA3OCwyLjE0NSwzLjQyOSwyLjE2Niw1LjU0NiwwbDQuMTU2LTQuMjU2IGMyLjAzNS0yLjA4NCwyLjE3NC0zLjQ1MSwwLTUuNjc4TDU4LjQ5LDUwbDIxLjkzMS0yMi40NDljMi4wNTUtMi4xMDksMi4wOTQtMy41MzMsMC01LjY4bC00LjE1Ni00LjI1NCBjLTIuMTU2LTIuMjA3LTMuNDg4LTIuMTA1LTUuNTQ2LDBMNTAuMDAzLDM4LjgyNEwyOS4yODksMTcuNjE3Yy0yLjA1OS0yLjEwNS0zLjM5MS0yLjIwNy01LjU0NywwbC00LjE1NCw0LjI1NCBjLTIuMDk2LDIuMTQ2LTIuMDU5LDMuNTcsMCw1LjY4TDQxLjUxNyw1MEwxOS41ODgsNzIuNDQ4Yy0yLjE3NCwyLjIyNy0yLjA1OSwzLjU5NCwwLDUuNjc4bDQuMTU0LDQuMjU2IGMyLjA5OCwyLjE2NiwzLjQ0OSwyLjE0NSw1LjU0NywwTDUwLjAwMyw2MS4xNzZ6Ij48L3BhdGg+PC9nPjwvc3ZnPg==");
		background-size: 12px 12px;
		background-repeat: no-repeat;
		background-position: center center;
		border: none;
		border-radius: 3px;
		width: 18px;
		height: 18px;

		&:hover {
			background-color: #9d9d9d;
		}

		&:active {
			background-color: #696969;
		}
	}

	> wf-icon-button {
		float: right;
		color: #555555;
		position: relative;
		top: 2px;

		&:hover {
			color: #333333;
		}
	}

	> .pin {
		float: right;
		margin-top: 2px;
		margin-left: 2px;
		margin-right: 2px;
		border-radius: 3px;
		width: 18px;
		height: 18px;
		font-size: 13px;
		padding: 2px 5px;
		color: #333333;

		&:hover,
		&.on {
			background-color: #9d9d9d;
		}

		&:active {
			background-color: #696969;
		}
	}

	> span {
		pointer-events: none;
		position: absolute;

		@include fullsize();

		width: auto;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size: 14px;
		text-shadow: 0px 1px 0px rgba(230, 230, 230, 1);
	}
}
