wf-action-editor {
	white-space: pre;
	font-size: 12px;
	font-family: "Anonymous Pro", monospace;

	background-color: white;
	width: 100%;
	padding: 5px;
	overflow-y: auto;

	.error-area {
		color: #ff0000;
		white-space: normal;
		border-bottom: 1px solid #c1c1c1;
		padding-bottom: 3px;
		position: absolute;
		background: white;
		margin: -5px 12px 3px;
		padding-top: 3px;
		left: 0px;
		right: 0px;
		z-index: 1;
	}

	.editor-area {
		position: relative;
		top: var(--error-height);
		outline: none;

		span {
			display: inline;
		}

		.keyword {
			color: #660e7a;
		}

		.symbol {
			color: #000080;
		}

		.string {
			color: #008000;
		}

		.boolean {
			color: #0000ff;
			font-weight: bold;
		}

		.number {
			color: #0000ff;
		}

		.error {
			color: #ff0000;
		}
	}
}
