@import "border";

wf-editor-zone-editor {
	display: flex;

	> wf-group {
		display: flex;
		flex-direction: column;
	}

	> *:nth-child(1) {
		width: 576px;
	}

	> *:nth-child(2) {
		width: 134px;
	}

	> *:nth-child(3) {
		width: 134px;
	}

	wf-editor-layer-selection {
		flex-shrink: 0;
	}

	wf-editor-tile-selection {
		@extend .inset-border;
	}

	wf-editor-zone {
	}
}
