@import "border";

wf-editor-action-item {
	@extend .inset-border-inverted;

	position: relative;
	border-width: 1px;
	display: block;
	line-height: 24px;
	padding: 4px;

	span {
		display: block;
		margin-left: 20px;
	}

	div {
		font-family: "Anonymous Pro";
		font-size: 11px;
	}

	.expand {
		position: absolute;
		left: 4px;
		top: 5px;
		transition: transform 0.2s;
	}

	&.expanded .expand {
		transform: rotate(90deg);
	}
}
