@import "border.scss";
@import "animation.scss";
@import "colors.scss";

wf-character-inspector-cell {
	display: flex;

	height: 34px;
	line-height: 34px;

	&:first-child {
		.title,
		.text,
		.tile {
			border-top-width: 0;
		}
	}
	&:last-child > * {
		.title,
		.text,
		.tile {
			border-bottom-width: 0;
		}
	}

	.tile {
		@include inset-border-inverted(1px);
		border-left-width: 0;

		width: 34px - 1px;
		height: 34px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.text {
		@include inset-border-inverted(1px);

		flex-grow: 1;

		& > *:first-child,
		& > * + * {
			margin-left: 10px;
		}

		.id {
			display: inline-block;
			min-width: 20px;
			text-align: right;
		}

		.name {
			max-width: calc(100% - 34px - 10px);
			max-height: 25px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&[selected] {
		color: $menu-item-selection-text;
		background-color: $menu-item-selection-background;

		.tile {
			filter: brightness(1.1);
		}
	}
}

.character-inspector-list {
	@include inset-border(0px);
	border-right-width: 1px;

	width: 210px;
	flex-shrink: 0;
}
