wf-color-wheel {
	display: inline-block;
	position: relative;

	canvas {
		position: absolute;
		display: block;
	}

	canvas:first-child {
		border-radius: 50%;
	}

	canvas:last-child {
		transition: filter 500ms ease-in-out;
	}
}
