@import "border";

$wheel-width: 100px;
$slider-width: 20px;
$slider-margin: 8px;

wf-color-picker {
	display: flex;
	width: $wheel-width + $slider-width + $slider-margin + 2;
	position: relative;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	wf-group {
		min-width: 100%;
		text-align: center;
		height: 100px;

		wf-color-wheel {
			flex-grow: 0;
			flex-shrink: 0;

			width: $wheel-width;
			height: $wheel-width;
		}

		input[type=range] {
			width: $slider-width;
			max-height: $wheel-width;
			margin: 0;
			padding: 0;

			-webkit-appearance: slider-vertical;
			writing-mode: bt-lr;
		}
	}

	.preview {
		@include inset-border(1px);

		display: block;
		width: 100%;
		min-height: 20px;
	}

	label {
		margin-top: 5px;
		flex-grow: 0;
		text-shadow: 0 1px rgba(255, 255, 255, 0.4);

		input {
			margin-left: 3px;
			transform: translateY(-2px);
		}

		&:last-child {
			margin-right: $slider-width + $slider-margin;
		}
	}
}
