wf-editor-expand-button {
	display: inline-block;
	padding: 3px;
	font-size: 12px !important;
	margin-top: 8px;
	margin-right: 8px;
	transition: transform 0.25s ease;
}

.expanded > wf-editor-expand-button {
	transform: rotate(90deg);
}
