@import "border";

$cell-height: 34px;
wf-puzzle-inspector-cell {
	height: $cell-height;
	line-height: $cell-height;
	display: flex;
	flex-direction: row;

	& > * {
		@extend .inset-border-1px;
		@extend .inset-border-inverted;

		display: inline-block;
		height: $cell-height;
	}

	.tile {
		width: $cell-height;
		height: $cell-height;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.tile.double {
		width: 2 * $cell-height;
		padding-left: $cell-height / 2;
		padding-right: $cell-height / 2;
		background-clip: content-box;
		background-origin: content-box;
	}

	.text {
		flex-grow: 1;

		& > * + * {
			margin-left: 10px;
		}

		.id {
			display: inline-block;
			width: 27px;
			text-align: right;
		}
	}
}

.puzzle-inspector-list {
	@extend .inset-border-1px;
}
