@import "border.scss";

$cell-height: 34px;
wf-puzzle-inspector-cell {
	height: $cell-height;
	line-height: $cell-height;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	transition: height 0.25s ease;
	overflow: hidden;

	&:first-child > * {
		border-top-width: 0;
	}
	&:last-child > * {
		border-bottom-width: 0;
	}

	&.expanded {
		height: calc(#{$cell-height} + var(--text-height, 0));
	}

	& > * {
		@include inset-border-inverted(1px);

		display: inline-block;
		height: $cell-height;
	}

	.tile {
		width: $cell-height;
		height: $cell-height;
		flex-grow: 0;
		flex-shrink: 0;

		&:first-child {
			border-left-width: 0;
			width: $cell-height - 1px;
		}
	}

	.tile.double {
		width: 2 * $cell-height - 1px;
		padding-left: $cell-height / 2;
		padding-right: $cell-height / 2;
		background-clip: content-box;
		background-origin: content-box;
	}

	.title {
		flex-grow: 1;

		& > * + * {
			margin-left: 40px;
		}

		.id {
			display: inline-block;
			width: 27px;
			text-align: right;
		}

		wf-editor-expand-button {
			margin-top: 8px;
			margin-right: 8px;
		}
	}

	&.expanded .title wf-editor-expand-button {
		transform: rotate(90deg);
	}

	.text {
		width: 100%;
		height: unset;
		font-size: 0.8em;
		line-height: 1.5;
		padding: 4px;

		div + div {
			border-top: 1px solid $border-light;
		}
	}
}
