@import "border";
@import "animation";

wf-sound-inspector-cell {
	display: block;
	@extend .inset-border-1px;
	@extend .inset-border-inverted;
	height: 25px;
	line-height: 25px;

	& > * + * {
		margin-left: 10px;
	}

	.id {
		display: inline-block;
		min-width: 20px;
		text-align: right;
	}

	.file {
		max-width: calc(100% - 20px - 20px - 10px - 10px);
		max-height: 25px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&:hover .play i {
		visibility: visible;
	}

	.play {
		float: right;

		i {
			visibility: hidden;
			padding: 3px;
			color: rgb(96, 96, 96);
			cursor: pointer;

			&:hover {
				color: rgb(38, 38, 38);
			}
		}

		i.fa-spinner {
			@extend .spinning-animation;
			visibility: visible;
			cursor: default;
		}
	}
}
