@import "border";

wf-editor-toolbar-item {
	display: inline-block;
	text-align: center;
	padding: 2px;
	border: solid 1px transparent;
	
	i {
		display: block;
	}
	
	span {
		display: block;
		font-size: 11px;
	}
	
	&[selected] {
		@extend .inset-border-inverted;
		border-width: 1px;
	}
	
	& + wf-editor-toolbar-item {
		margin-left: 5px;
	}
}