@import "border";

wf-zone-inspector-cell {
	display: flex;
	flex-direction: row;

	.icon {
		@extend .inset-border-1px;
		@extend .inset-border-inverted;

		height: 30px;
		width: 30px;
	}

	.content {
		@extend .inset-border-1px;
		@extend .inset-border-inverted;

		height: 30px;
		flex-grow: 1;
		line-height: 28px;

		.id {
			display: inline-block;
			height: 28px;
			margin-left: 5px;
			width: 28px;
			float: left;
		}

		.type {
		}

		.planet {
			display: inline-block;
			color: #585858;
			font-size: 11px;
			margin-left: 5px;
			text-shadow: 0 1px rgba(255, 255, 255, 0.5);
			vertical-align: middle;
		}

		.size {
			float: right;
			margin-right: 10px;
			display: inline-block;
			text-align: right;
		}
	}
}

.zone-inspector-list {
	@extend .inset-border-1px;
}
