$background-color: #3d3d3d;
$border-light: #ffffff;
$border-dark: #6d6d6d;

$control-text-color: #000000;
$disabled-color: #808080;

$menu-separator-color-top: #ffffff;
$menu-separator-color-bottom: rgba(0, 0, 0, 0.4);

$menu-item-selection-text: #ffffff;
$menu-item-selection-background: #07216c;

$indicator-color: #0091ea;

$window-background-color: rgba(202, 198, 188, 1);
