@mixin unselectable {
	user-select: none;
	-webkit-user-select: none;
	cursor: default;

	& * {
		user-select: none;
		-webkit-user-select: none;
		cursor: default;
	}
}

@mixin selectable {
	user-select: text;
	-webkit-user-select: text;
	cursor: initial;

	* {
		user-select: text;
		-webkit-user-select: text;
		cursor: initial;
	}
}
