* {
	box-sizing: border-box;
}

.full-size {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.full-size-1px {
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
}

.full-size-2px {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
}
