* {
	box-sizing: border-box;
}

@mixin fullsize($inset: 0px) {
	top: $inset;
	left: $inset;
	bottom: $inset;
	right: $inset;
}

@mixin fullsize-children() {
	display: flex;
	align-items: stretch;
	> * {
		flex-grow: 1;
		flex-shrink: 1;
	}
}
