@charset "utf-8";
@import "reset.scss";
@import "selection.scss";
@import "colors.scss";
@import "fonts.scss";

body {
	background: $background-color;
	transition: background-color 0.25s ease-in-out;
	margin: 0;
	padding: 0;
}

body > article {
	background: white;
	top: 90vh;
	position: relative;
	border-top: 1px solid black;
	padding: 20px;

	> * {
		max-width: 800px;
		margin: auto;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #a6aab9;
	}
}
