@import "reset.scss";
@import "selection.scss";
@import "colors.scss";

$fa-font-path: "./font-awesome/fonts/";
@import "font-awesome/scss/font-awesome.scss";
@import "fontello/css/fontello.css";

body {
	background-color: $background-color;
	transition: background-color 0.25s ease-in-out;
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #a6aab9;
	}
}
