@charset "utf-8";
@import "reset.scss";
@import "selection.scss";
@import "colors.scss";
@import "fonts.scss";

body {
	background: $background-color;
	transition: background-color 0.25s ease-in-out;
	margin: 0;
	padding: 0;
}

.webfun {
	@include unselectable;

	a {
		cursor: default;
	}

	input:not([type]),
	input[type="text"],
	input[type="number"],
	input[type="search"],
	textarea,
	[contenteditable],
	[contenteditable] * {
		@include selectable;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #a6aab9;
	}
}
