@font-face {
	font-family: "TruenoBlack";
	src: url("/assets/fonts/trueno/TruenoBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBlackItalic";
	src: url("/assets/fonts/trueno/TruenoBlackItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBlackOutline";
	src: url("/assets/fonts/trueno/TruenoBlackOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBlackOutlineItalic";
	src: url("/assets/fonts/trueno/TruenoBlackOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBold";
	src: url("/assets/fonts/trueno/TruenoBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBoldItalic";
	src: url("/assets/fonts/trueno/TruenoBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBoldOutline";
	src: url("/assets/fonts/trueno/TruenoBoldOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoBoldOutlineItalic";
	src: url("/assets/fonts/trueno/TruenoBoldOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoExtraBold";
	src: url("/assets/fonts/trueno/TruenoExtraBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoExtraBoldItalic";
	src: url("/assets/fonts/trueno/TruenoExtraBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoExtraBoldOutline";
	src: url("/assets/fonts/trueno/TruenoExtraBoldOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoExtraBoldOutlineItalic";
	src: url("/assets/fonts/trueno/TruenoExtraBoldOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoLight";
	src: url("/assets/fonts/trueno/TruenoLight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoLightItalic";
	src: url("/assets/fonts/trueno/TruenoLightItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoRegular";
	src: url("/assets/fonts/trueno/TruenoRegular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoRegularItalic";
	src: url("/assets/fonts/trueno/TruenoRegularItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoSemiBold";
	src: url("/assets/fonts/trueno/TruenoSemiBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoSemiBoldItalic";
	src: url("/assets/fonts/trueno/TruenoSemiBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoUltraBlack";
	src: url("/assets/fonts/trueno/TruenoUltraBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoUltraBlackItalic";
	src: url("/assets/fonts/trueno/TruenoUltraBlackItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoUltraLight";
	src: url("/assets/fonts/trueno/TruenoUltraLight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TruenoUltraLightItalic";
	src: url("/assets/fonts/trueno/TruenoUltraLightItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* The following rules are deprecated. */

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBlackItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBlackOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBlackOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBoldOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoBoldOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoExtraBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoExtraBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoExtraBoldOutline.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoExtraBoldOutlineItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoLight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoLightItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoRegular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoRegularItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoSemiBold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoSemiBoldItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoUltraBlack.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoUltraBlackItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoUltraLight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trueno";
	src: url("/assets/fonts/trueno/TruenoUltraLightItalic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
