@import "../ui/settings-window.scss";

wf-statistics-window {
	@extend wf-abstract-window;

	> .content {
		padding: 20px;

		li {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;

			span + wf-textbox {
				margin-left: 5px;
			}
		}

		li + li {
			margin-top: 5px;
		}
	}
}
