@import "border.scss";
@import "colors.scss";

.wf-tile-inspector {
	height: 300px;
	display: flex;
	flex-direction: row;

	wf-tile-picker {
		flex-grow: 0;
		flex-shrink: 0;
	}

	.detail {
		flex-grow: 1;
		padding: 10px;

		.title {
			width: 100%;
			display: flex;
			flex-direction: row;

			.tile-id {
				flex-grow: 0;
				flex-shrink: 0;
			}

			wf-label {
				margin-left: 10px;
				flex-grow: 1;
				flex-shrink: 0;
			}
		}

		.attributes {
			margin-top: 10px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 0.85em;
		}

		.actions {
			display: flex;
			flex-direction: column;
			margin-top: 20px;

			wf-button + wf-button {
				margin-top: 5px;
			}
		}
	}
}
