@import "variables.scss";

wf-monster-layer {
	position: relative;

	wf-monster-layer-monster {
		position: absolute;
		box-sizing: border-box;
		width: $tile-size;
		height: $tile-size;
		border: 1px dashed #7fffff;
		transition: left 0.2s, top 0.2s;
		line-height: $tile-size;
		text-align: center;
		color: #7fffff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	}
}
