@import "border.scss";

$header-height: 25px;

wf-zone-editor-sidebar-cell {
	@include inset-border-inverted(1px);
	border-left-width: 0;

	&:first-child {
		border-top-width: 0;
	}

	flex-shrink: 0;

	header {
		height: $header-height;
		padding: 4px 2px 4px 4px;
		line-height: 14px;

		wf-editor-expand-button,
		wf-icon-button {
			float: right;
		}
	}

	&:not(.expanded) {
		height: $header-height;
		overflow: hidden;
	}

	&.expanded header wf-editor-expand-button {
		transform: rotate(90deg);
	}
}
