@import "./sidebar-cell";
@import "border.scss";

wf-zone-editor-sidebar-layer {
	display: block;
	@include inset-border(1px);

	padding: 2px;

	i.fa {
		float: right;
		font-size: 13px;
		padding: 2px 5px;
		color: #333333;

		&:hover,
		&.on {
			background-color: #9d9d9d;
		}

		&:active {
			background-color: #696969;
		}
	}
}
