
.icon-pencil:before {
    content: '\e800';
}

/* '' */
.icon-eyedropper:before {
    content: '\e801';
}

/* '' */
.icon-layers:before {
    content: '\e802';
}

/* '' */
.icon-bucket:before {
    content: '\e803';
}

/* '' */
.icon-unknown-2:before {
    content: '\e804';
}

/* '' */
