wf-editor-tile-preview {
	display: inline-block;
	position: relative;
	
	width: 32px;
	height: 32px;
	
	div{
		display: none;
	}
	
	&[selected] div {
		display: block;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		
		border: 1px solid green;
	}
}