@import "variables.scss";
@import "border.scss";
@import "sizing.scss";
@import "colors.scss";

wf-ammo {
	@include inset-border(2px);

	position: relative;
	width: 10px + 2 * $border-size;
	height: $tile-size + 2 * $border-size;
	display: block;

	> * {
		position: absolute;
	}

	> .background {
		@include inset-border-inverted(1px);
		@include fullsize();

		width: auto;
		height: auto;
	}

	> .value {
		background-color: $indicator-color;
		border: 0;
		height: 30%;
		left: 1px;
		right: 1px;
		bottom: 1px;
	}
}
