@import "border";
@import "sizing";
@import "colors";

wf-ammo {
	@include inset-border(2px);

	position: relative;
	width: 10px + 2 * $border-size;

	> * {
		position: absolute;
	}

	> .background {
		@include inset-border-inverted(1px);
		@include fullsize();

		width: auto;
		height: auto;
	}

	> .indicator {
		background-color: $indicator-color;
		border: 0;
		height: 30%;
		left: 1px;
		right: 1px;
		bottom: 1px;
	}
}
