@import "variables.scss";
@import "border.scss";

wf-inventory-row {
	display: flex;
	height: $tile-size;

	flex-shrink: 0;
	flex-grow: 0;

	> span {
		@include inset-border-inverted(1px);

		position: relative;
		display: inline-block;
		height: inherit;
	}

	> span:nth-child(1) {
		width: $tile-size;
	}

	> span:nth-child(2) {
		flex-grow: 2;
		padding: 0 5px;
		line-height: $tile-size;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	> span + span {
		margin-left: 0px;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: $tile-size;
		height: $tile-size;
	}
}
