@import "variables";
@import "border";

wf-inventory {
	@include inset-border(2px);

	display: flex;
	flex-direction: column;
	position: relative;
	height: 7 * $tile-size + 2 * $border-size;
	width: 206px;
	padding: 0;
	overflow-y: scroll;
	list-style-type: none;
}
