@import "sizing";
@import "pixelated";

.loading-view {
    @extend .full-size;

    position: absolute;
    background-color: #000000;

    > canvas {
        @extend .full-size;

        @extend .pixelated;

        position: absolute;
        width: 288px;
        height: 288px;
    }

    > img:not([src]) {
        display: none;
    }
}
