@import "sizing.scss";
@import "pixelated.scss";

wf-loading-view {
	@include fullsize();

	position: absolute;
	background-color: #000000;

	> canvas {
		@include fullsize();

		@extend .pixelated;

		position: absolute;
		width: 288px;
		height: 288px;
	}

	> img:not([src]) {
		display: none;
	}
}
