@import "src/ui/components/abstract-window.scss";

wf-settings-window {
	@extend wf-abstract-window;

	> .content {
		flex-direction: column;

		> div {
			display: flex;

			wf-button + wf-button {
				margin-left: 10px;
			}
		}
	}
}
