@import "border";
@import "sizing";
@import "variables";

wf-weapon {
	@include inset-border(2px);

	position: relative;
	width: $tile-size + 2 * $border-size;

	> .background {
		@include fullsize();
		@include inset-border-inverted(1px);

		position: absolute;
		margin: 0;
	}

	> img {
		@include fullsize();

		position: absolute;
		width: $tile-size;
		height: $tile-size;
	}
}
