@import "border.scss";
@import "sizing.scss";
@import "variables.scss";

wf-weapon {
	@include inset-border(2px);

	position: relative;
	width: $tile-size + 2 * 2px;

	> .background {
		@include fullsize();
		@include inset-border-inverted(1px);

		position: absolute;
		margin: 0;
	}

	> wf-palette-view {
		@include fullsize();

		border: none;

		position: absolute;
		width: $tile-size;
		height: $tile-size;
	}
}
