wf-ammo {
  @extend .inset-border;

  border-width: 2px;
  width: 10px + 2 * $border-size;

  > * {
    position: absolute;
  }

  > .background {
    @extend .inset-border-inverted;

    @extend .full-size;

    border-width: 1px;
    width: auto;
    height: auto;
  }

  > .indicator {
    background-color: $indicator-color;
    border: 0;
    height: 30%;
    left: 1px;
    right: 1px;
    bottom: 1px;
  }
}
