@import "variables.scss";
@import "border.scss";

wf-save-game-editor-inventory-row {
	text-align: left;
	display: flex;
	height: $tile-size;
	flex-shrink: 0;
	flex-grow: 0;

	wf-icon-button.new {
		position: relative;
		width: 100%;
		text-align: center;
		cursor: pointer;
		margin-top: 5px;

		i {
			font-size: 1.3em !important;
			color: rgba(135, 135, 135, 0.6);
		}
	}

	> wf-save-game-editor-tile,
	wf-debug-tile-view {
		@include inset-border-inverted(1px);
		position: relative;
		display: inline-block;
		height: inherit;
	}

	> wf-save-game-editor-tile:nth-child(1) {
		width: $tile-size;
	}

	> wf-selector {
		@include inset-border-inverted(1px);
		position: relative;
		display: inline-block;
		height: inherit;
		flex-grow: 2;
		padding: 0 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		font: normal normal normal normal 16px/32px -webkit-standard, sans-serif;

		i.fa-caret-down {
			right: 30px;
		}

		select {
			position: absolute;
			left: 5;
			right: 5;
		}
	}

	> wf-save-game-editor-tile + span {
		margin-left: 0;
	}

	wf-icon-button.remove {
		display: none;
		float: right;
		position: relative;
		margin-top: 6px;
	}

	&:hover wf-icon-button {
		display: inline-block;
	}
}
