@import "variables";

wf-save-game-editor-tile {
	position: relative;
	display: inline-block;
	text-align: left;

	> div {
		position: absolute;
		top: -1px;
		left: 0px;

		width: $tile-size;
		height: $tile-size;
	}
}
