@charset "UTF-8";

$tile-size: 32px;
$fa-font-path: "/fonts";

@import "font-awesome/scss/font-awesome";

@import "colors";

@import "app/ui/equipment";
@import "app/ui/sidebar";
@import "app/ui/speech-bubble";


body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}
