@import "src/ui/components/abstract-panel.scss";

wf-editor-tile-editor {
	@extend wf-abstract-panel;

	.content {
		flex-direction: column;

		> div {
			display: flex;
			flex-direction: row;

			wf-palette-view + wf-palette-view {
				margin-left: 20px;
			}

			wf-button {
				flex-grow: 1;
			}
		}
	}
}
