$background-color: #3D3D3D;
$border-light: #FFFFFF;
$border-dark: #6D6D6D;

$disabled-color: #808080;

$menu-separator-color-top: #FFFFFF;
$menu-separator-color-bottom: rgba(0, 0, 0, 0.4);

$menu-item-selection-text: #FFFFFF;
$menu-item-selection-background: #07216C;

$indicator-color: #0091EA;

$window-background-color: rgba(202, 198, 188, 0.98);
