.debugger {
	.controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		i {
			font-size: 1.5em;
		}
	}
	
	.action-list {
		display: flex;
		flex-direction: column;
		
		.action {
				&.current { font-weight: bold; }
			
			.condition {
				&.current { font-weight: bold; }
			}
			.instruction {
				&.current { font-weight: bold; }
			}
		}
	}
}