@charset "UTF-8";

$tile-size: 32px;
$fa-font-path: "fonts";

@import "font-awesome/scss/font-awesome";

@import "colors";

@import "util/animation";
@import "util/border";
@import "util/layers";
@import "util/pixelated";
@import "util/reset";
@import "util/selection";
@import "util/sizing";

@import "ui/progress-bar";
@import "ui/textbox";
@import "ui/components/icon-button";
@import "ui/components/window";
@import "ui/components/window-titlebar";
@import "ui/components/group";
@import "ui/components/menu-view";
@import "ui/components/menu-window";
@import "ui/components/menubar";
@import "ui/components/menu-item";
@import "ui/components/menu-item-separator";

@import "app/ui/equipment";
@import "app/ui/loading-view";
@import "app/ui/sidebar";
@import "app/ui/speech-bubble";
@import "app/ui/components/inventory";
@import "app/ui/components/inventory-row";
@import "app/ui/components/ammo";
@import "app/ui/components/weapon";
@import "app/ui/components/health";
@import "app/ui/components/location";

@import "app/windows/main-window";
@import "app/windows/statistics-window";

@import "debug/debugger";
@import "debug/world-generation";
@import "debug/components/action";
@import "debug/components/controls";
@import "debug/components/breakpoint-button";

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}
