.wf-coverage-inspector {
	wf-inline-selector {
		font-size: 0.8em;
		float: right;
		margin-right: 0.8em;
	}

	.content {
		> wf-editor-source-level-coverage,
		wf-editor-symbolic-coverage {
			> div {
				flex-direction: row;
				font-family: Helvetica Neue, Helvetica, Arial;
				font-size: 14px;
				color: rgba(0, 0, 0, 0.5);
				padding: 10px;
				background: white;
				line-height: 14px;
				border-bottom: 1px solid darkgray;
				display: flex;
				flex-direction: row;
				justify-items: center;
				justify-content: space-evenly;
				flex-shrink: 0;

				> span {
					padding: 4px;
				}

				.percentage {
					font-weight: bold;
					color: #333;
				}

				.details {
					font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
					font-size: 10px;
					color: #555;
					background: #e8e8e8;
					padding: 4px 5px;
					border-radius: 3px;
					vertical-align: middle;
				}
			}

			> table {
				border-collapse: collapse;
				th,
				td {
					padding: 10px;
					white-space: nowrap;
				}

				th {
					text-align: left;
					background: white;
					border-bottom: 1px solid darkgray;

					& + th {
						border-left: 1px solid darkgray;
					}

					&.extend-previous-cell {
						border-left: 0px;
					}
				}

				td {
					border: 1px solid #bbb;
				}

				.center {
					text-align: center;
				}

				&.low,
				.low {
					background: #fce1e5;

					.bar-chart {
						border-color: #c21f39;
						> div {
							background: #c21f39;
						}
					}
				}

				&.medium,
				.medium {
					background: #fff4c2;

					.bar-chart {
						border-color: #f9cd0b;
						> div {
							background: #f9cd0b;
						}
					}
				}

				&.high,
				.high {
					background: rgb(230, 245, 208);

					.bar-chart {
						border-color: rgb(77, 146, 33);
						> div {
							background: rgb(77, 146, 33);
						}
					}
				}

				.bar-chart {
					position: relative;
					display: block;
					border: 1px solid;
					background-color: white;
					white-space: pre;
					height: 18px;
					> div {
						display: inline-block;
						height: 16px;
					}
					min-width: 100px;
				}
			}
		}
	}
}
