@import "border";
@import "colors";

.tile-inspector-table {
	table-layout: fixed;
	width: 100%;
	height: calc(100%);
	max-height: calc(100%);
	border-collapse: separate;
	margin: 0px;
	overflow-y: auto;

	> thead {
		position: sticky;
		position: -webkit-sticky;
		top: 0px;
	}

	> thead, tbody > tr {
		height: 34px;
		background-color: $window-background-color;

		> td, th {
			@include inset-border-inverted(1px);
			&:first-child {
				border-left-width: 0;
			}

			width: 14px;
			text-align: center;
			font-weight: normal;

			margin: 0px;
			padding: 0px;

			&:first-child {
				width: 34px;
			}
			&:nth-child(25), &:nth-child(29) {
				border-left-width: 2px;
			}
		}
	}

	thead > tr:first-child {
		> td, th {
			border-top-width: 0;
		}
	}
}
