@import "border";

wf-zone-editor-npc {
	display: flex;

	height: 34px;
	line-height: 14px;

	&:first-child {
		.title, .text, .tile {
			border-top-width: 0;
		}
	}
	&:last-child > * {
		.title, .text, .tile {
			border-bottom-width: 0;
		}
	}

	.tile {
		@extend .inset-border-1px;
		@extend .inset-border-inverted;
		border-left-width: 0;

		width: 34px - 1px;
		height: 34px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.text {
		@extend .inset-border-1px;
		@extend .inset-border-inverted;
		border-right-width: 0px;

		flex-grow: 1;

		& > *:first-child, & > * + * {
			margin-left: 10px;
		}

		.name {
			font-size: 13px;
			max-width: calc(100% - 10px);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-top: 3px;
		}

		.position {
			font-size: 11px;
			color: #3D3D3D;
		}
	}
}

.wf-zone-editor-npc-list {
	@extend .inset-border-1px;
	border-right-width: 0px;
	min-height: auto;
}
