@import "colors.scss";
@import "./sidebar-cell";

wf-zone-editor-sidebar-layers-cell {
	display: flex;
	flex-direction: column;

	wf-zone-editor-sidebar-layer {
		margin-left: 15px;

		&.active {
			background-color: $menu-item-selection-background;

			* {
				filter: invert(1);
			}
		}
	}

	wf-list {
		min-height: unset;
		height: 72px;
	}
}
