@import "./sidebar-cell";

wf-zone-editor-sidebar-layers-cell {
	display: flex;
	flex-direction: column;

	wf-zone-editor-sidebar-layer {
		margin-left: 15px;
	}

	wf-list {
		min-height: unset;
		height: 72px;
	}
}
