@import "border";

wf-zone-editor-tool {
	@extend .inset-border-1px;
	@extend .inset-border-inverted;

	display: inline-block;
	text-align: center;
	float: left;
	cursor: pointer;

	padding: 3px;
	height: 24px;
	width: 24px;

	&[active] {
		@extend .inset-border
	}
}
