@import "border";

wf-zone-editor-tool {
	@include inset-border-inverted(1px);

	display: inline-block;
	text-align: center;
	float: left;
	cursor: pointer;

	padding: 3px;
	height: 24px;
	width: 24px;

	&[active] {
		@include inset-border(1px);
	}
}
