@import "border";
@import "~src/ui/components/window.scss";

wf-zone-editor-window {
	@extend wf-window;

	> .content {
		wf-zone-editor-sidebar {
			width: 160px;
			margin-right: 10px;
		}

		.tile {
			display: inline-block;
		}

		.action {
			@extend .inset-border-1px;
			display: block;
		}

		.tool-item-thing {
			@extend .inset-border-1px;
			@extend .inset-border-inverted;

			display: inline-block;
			text-align: center;
			float: left;
			cursor: pointer;

			padding: 3px;
			margin: 3px;
			height: 24px;
			width: 24px;

			&.active {
				@extend .inset-border
			}
		}
	}
}
